.calc{
    width: 400px;
    height: 500px;
    background:gray;
    margin-left: 400px;
}
#screen{
    width: 80%;
    margin-left: 30px;
    height: 40px;
    margin-top: 30px;
    pointer-events: none;
}
.row{

}
.btn{
    width: 58px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
}